language: ruby
rvm:
 - 2.7.7
cache: bundler
before_install:
  - "export DISPLAY=:99.0"
before_script:
  - cp config/database.travis.yml config/database.yml
  - bin/setup
services:
  - xvfb
  - postgresql
  - redis-server
script:
  - bin/rake
notifications:
  flowdock: 70c3589190925ff6d817e318827ae484
  email: false
env:
  global:
    - TOPSEKRIT_AUTHORISATION_SETTING='open'
    - TOPSEKRIT_AUTHORISED_DOMAIN='reinteractive.net'
    - GOOGLE_OAUTH_CALLBACK_PATH='/auth/google_oauth2/callback'
    - GOOGLE_CLIENT_ID='1234'
    - GOOGLE_CLIENT_SECRET='1234'
    - BASE_URL='http://localhost:3000'
addons:
  code_climate:
    repo_token: 0c9d8e9e2db83bcc74dbdfe816f4f51ab8e14f63f6e2e7315457f48bb0f6f64c
