.dashboard {
  padding: 40px 0;
  &__secrets-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include mobile-media-query {
      flex-direction: column;
    }
    .secret-item {
      width: 30%;
      @include mobile-media-query {
        width: 90%;
      }
    }
  }
}
