.homepage-hero {
  background: black image-url("homepage-hero.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  min-height: 400px;
  padding: 50px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
    font-weight: bold;
    margin: 0 0 1em;
    line-height: 1.2em;
    max-width: 700px;
    text-align: center;
  }
  h3 {
    color: white;
    font-weight: 500;
  }
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    max-width: 500px;

    input[type="email"] {
      border: 3px solid black;
      height: auto;
      padding: 10px 20px;
    }
    .button.white {
      margin-bottom: 1em;
    }
    .form-group {
      width: 100%;
    }
    .google-link {
      color: white;
      padding-left: 20px;
      background: transparent image-url("homepage-icons/google-g.svg") no-repeat 0 50%;
      background-size: 15px;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

.homepage-features ul.nostyle {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  li {
    max-width: 350px;
    text-align: center;
    padding: 20px;
  }
  img {
    max-height: 50px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1em;
    color: $green2;
    font-weight: 700;
  }
  p {
    color: $text-grey;
  }
  @include mobile-media-query {
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

.homepage-behind-the-scenes {
  text-align: center;
  padding: 60px 20px;
  color: $text-grey;
  h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: currentColor;
  }
  p {
    margin-bottom: 20px;
    color: currentColor;
  }
}

.homepage-faq {
  background-color: $green2;
  padding: 50px 20px;
  color: white;
  .flex-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  a {
    color: white;
    text-decoration: underline;
    &:hover, &:focus {
      color: $green1;
    }
  }
  &__question {
    width: 50%;
    min-width: 310px;
    padding: 20px;
    color: white;
    h3 {
      font-weight: 600;
      color: currentColor;
    }
    div[data-slide] p {
      color: white;
    }
    @include mobile-media-query {
      width: 100%;
      padding: 0 20px;

      h3[data-slideTarget] {
        font-size: 1.3em;
        padding-left: 25px;
        background: transparent image-url("icons/plus-white.svg") no-repeat 0 50%;
        background-size: 15px;
        cursor: pointer;
      }
      div[data-slide] {
        display: none;
        margin-bottom: 20px;
      }
    }
  }
}

.homepage-about-us {
  padding: 50px 20px;
  .flex-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h3.full-width {
    width: 100%;
    font-weight: 600;
    padding: 0 20px;
  }
  .flex-column {
    width: 50%;
    min-width: 310px;
    padding: 20px;
    @include mobile-media-query {
      width: 100%;
      padding: 0 20px;
    }
  }
}
