.secret {
  &__flex-container {
    display: flex;
    @include mobile-media-query {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  &__form {
    width: 100%;
    padding: 0 20px;
  }

  &__instructions {
    width: 100%;
    max-width: 300px;
    margin: 0 0 0 20px;
    @include mobile-media-query {
      margin: 0 0 20px;
      max-width: 100%;
    }
    ol {
      background: #e6ebec;
      border: 3px solid #ced9db;
      padding: 15px;
      list-style: none;
      li {
        padding-left: 25px;
        background: transparent image-url("ol-numbers/1.svg") no-repeat 0 2px;
        background-size: 20px 20px;
        &.two {
          background-image: image-url("ol-numbers/2.svg");
        }
        &.three {
          background-image: image-url("ol-numbers/3.svg");
        }
      }
    }

    li {
      margin-bottom: 10px;
      font-size: 1.1em;
      line-height: 1.5;
      a {
        text-decoration: none;
      }
      .store-icon {
        margin-right: 10px;
        @include mobile-media-query {
          margin-bottom: 10px;
        }
      }
    }
  }
}
