form.send-secret-form {
  abbr {
    display: none;
  }
  // input.email {
  //   margin-left: 5px;
  // }
}


/***** INTRODUCTION *****/

.introduction {
  background: $primary-color image-url("background-img.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.introduction p.lead {
  color: #fff;
  font-weight: 400;
}
.introduction-lead {
  background: rgba(28, 114, 121, 0.4);
  padding: 3em 0 2em 0;
}
.introduction-content {
  font-size: 120%;
  background: rgba(255, 255, 255, 0.4);
  padding: 3.5em 0;
  margin-bottom: 3em;
}
.introduction-content p {
  color: #333;
  padding: 0 0 0 0;
}
.introduction-content p.lead {
  color: #333;
  padding: 1em 0 0 0;
}
.glyphicon-lead-bg {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #fff;
  margin-top: 1em;
}
.glyphicon-lead {
  padding-left: 0.1em;
  font-size: 20px;
  line-height: 3;
}


.auth-form {
  background-color: #fff;
  margin: 3em 0;
  padding: 3em 2em;
  overflow: auto;
  label {
    font-size: 16px;
  }
  input[type="email"] {
    padding: 0.25em 1em;
    line-height: 3;
    outline: none;
    height: auto;
  }
  input[type="submit"] {
    font-size: 16px;
    font-weight: 700;
    height: 46px;
    width: 225px;
  }
  .form-control:focus {
    box-shadow: none;
  }
}
.half-rule {
  width: 100px;
  margin: 40px auto;
  border-top: 1px solid #DEDEDE;
}
.btn-google {
  background-color: #dd4b39;
  img {
    height: 32px;
  }
  span {
    font-size: 16px;
    color: #fff;
    padding: 0 1em;
  }
}
/***** HOW IT WORKS *****/

.instructions {
  background-color: #fff;
  padding: 3em 0 5em 0;
  color: $primary-color;
}
.instructions h2 {
  color: #333;
}
.instruction-container {
  background-color: #F2F2F2;
  height: 250px;
  padding: 2em;
  margin: 2em 0;
  color: #333;
}
.step {
  background-color: #7DACAF;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5;
  position: absolute;
  top: 10px;
  left: 5px;
  color: #fff;
  font-weight: bold;
}
.other-details {
  padding: 1.5em 0;
}
/***** FAQ *****/

.faq {
  background-color: #7DACAF;
  padding: 3em 0;
}
.faq h2 {
  padding: 1em 0;
}
.container-faq {
  background-color: #F2F2F2;
  padding: 1em;
  margin-bottom: 1.5em;
}

/***** ABOUT *****/

.about {
  color: #ddd;
  background-color: #227278;
  padding: 2em;
}

.about a {
  color: #eee;
  text-decoration: underline;
}

/***** FOOTER *****/

.footer .container-fluid {
  padding: 0;
  font-size: 90%;
  background-color: #062B2F;
}
.footer-content {
  padding: 0 3.5em 2.5em 0;
}
.footer-logo {
  background-color: #fff;
  border-radius: 6px;
  padding: 1em;
}
.footer-links {
  padding: 1em 1em 1.5em 1em;
  li {
    display: inline-block;
    padding: 0.5em 1em;
    line-height: 1.5;
  }
}

.attribution {
  margin: 1em 0 0 0;
  color: #ddd;
  a {
    color: #fff;
  }
}

/***** SECRET *****/

div.secret_secret textarea, div.secret_comments textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  height: 10em;
}
