//Sizing
$mobile-switch: 768px;
$tablet-switch: 1024px;

@mixin mobile-media-query {
  @media(max-width: $mobile-switch) {
    @content;
  }
}

@mixin tablet-media-query {
  @media(max-width: $tablet-switch) {
    @content;
  }
}

@mixin desktop-media-query {
  @media(min-width: $mobile-switch) {
    @content;
  }
}
