//Colors

$green1: #33A3A2;
$green2: #1c7279;
$green3: #1C5050;
$green4: #132D2D;
$green5: #062B2F;

$blue:   #337AB7;

$primary-color: $green2;
$text-default-color: #333333;
$text-grey: #666666;
$default_border: thin solid #797979;


$font-family:   "Open Sans", sans-serif;
