<% if flash[:error] %>
  <div class="row flash">
    <span id="flash-error" class="label label-danger"><%= flash[:error] %></span>
  </div>
<% end %>
<% if flash[:message] %>
  <div class="row flash">
    <span id="flash-message" class="label label-info"><%= flash[:message].html_safe %></span>
  </div>
<% end %>