<footer class="footer about">
  <div class="container-fluid footer-primary">
    <h2 class="text-center">About topsekr.it</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2">
        <p>The secret information is encrypted. A component of the decryption key is sent in the email to the recipient and not stored in the database.</p>
        <p>Secrets have an optional expiry.</p>
        <p>Sending this information via email or a chat application isn't particularly secure or professional. Ideally the recipient would view the secret and save it in a password manager application, but this isn't required.</p>
      </div>
      <div class="col-xs-8 col-sm-4 col-md-2 center-block">
        <img src="../assets/reinteractive-logo-dark.png" class="img-responsive footer-logo" alt="reinteractive logo">
      </div>
    </div>
  </div>
  <div class="container-fluid footer-secondary">
    <ul class="footer-links list-unstyled text-center">
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="">TopSekr.it</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="works">How it works</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="faq">FAQ</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="about">About TopSekr.it</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="#">Back to top</a></li>
    </ul>
  </div>
</footer>