<footer class="footer">
  <div class="container-fluid">
    <p class="attribution text-center">
      Built, hosted and maintained by <%= link_to("reinteractive", "https://reinteractive.net/") %>.
    </p>
    <ul class="footer-links list-unstyled text-center">
      <li>
        <a href="/">SecretLink.org</a>
      </li>
      <li>
        <%= link_to "How it works", home_path(anchor: "homepage-steps") %>
      </li>
      <li>
        <%= link_to "FAQ", home_path(anchor: "homepage-faq") %>
      </li>
      <li>
        <%= link_to "About", home_path(anchor: "homepage-about") %>
      </li>
      <li>
        <a href="/copyright">Copyright</a>
      </li>
      <li>
        <a href="/privacy_policy">Privacy Policy</a>
      </li>
      <li>
        <a href="/terms_and_conditions">Terms & Conditions</a>
      </li>
    </ul>
  </div>
</footer>
