<footer class="footer">
  <div class="container-fluid navbar navbar-static-bottom">
    <p class="attribution text-center">
      Built, hosted and maintained by <%= link_to("reinteractive", "https://reinteractive.com") %>.
    </p>
    <ul class="footer-links list-unstyled text-center">
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="">SecretLink.org</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/#homepage-steps">How it works</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/#homepage-faq">FAQ</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/#homepage-about">About</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/copyright">Copyright</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/privacy_policy">Privacy Policy</a></li>
      <li class="visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><a href="/terms_and_conditions">Terms & Conditions</a></li>
    </ul>
  </div>
</footer>
