<footer class="footer about">
  <div class="container-fluid footer-primary">
    <h2 class="text-center">About TopSekr.it</h2>
    <div class="row footer-content">
      <div class="col-md-offset-2 col-md-6">
        <p>The secret information is encrypted. A component of the decryption key is sent in the email to the recipient and not stored in the database.</p>
        <p>Secrets have an optional expiry.</p>
        <p>Sending this information via email or a chat application isn't particularly secure or professional. Ideally the recipient would view the secret and save it in a password manager application, but this isn't required.</p>
      </div>
      <div class="col-md-3">
        <p>reinteractive logo here</p>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-secondary">
    <ul class="footer-links text-center">
      <li><a href="#">Back to top</a></li>
      <li><a href="works">How it works</a></li>
      <li><a href="faq">FAQ</a></li>
      <li><a href="about">About TopSekr.it</a></li>
    </ul>
  </div>
</footer>