<header class="main-nav">
  <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-lg glyphicon-camera" aria-hidden="true"></span>SecretLink.org</a>
  <ul class="main-nav__links">
    <li><a href="/#homepage-steps">How it works</a></li>
    <li><a href="/#homepage-faq">FAQ</a></li>
    <li><a href="/#homepage-about">About</a></li>
  </ul>
</header>
