<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SnapSecret</a>
    </div>
    <ul class="nav navbar-nav">
      <li style="margin:15px;">Share secrets such as passwords, api keys, and ssl certificates securely.</li>
    </ul>
    <ul class='nav navbar-nav navbar-right'>
      <li>
        <%= link_to 'https://github.com/reInteractive/snap-secret', class: 'github' do %>
          <%= image_tag('GitHub-Mark-64px.png', alt: 'github') %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>