<div class="two-factor-fields">
  <%= f.hidden_field(:otp_secret) %>
  <%= f.input :otp_required_for_login,
        label: 'Enable two factor authentication',
        input_html: { class: 'otp-required-for-login' }
  %>

  <div class="enable-otp-fields">
    <div class="form-group otp-step">
      <img
        class="qrcode"
        src="data:image/png;base64,<%= Base64.encode64(RQRCode.render_qrcode(otp_provisioning_uri, :png, {})).html_safe %>"
      />
    </div>

    <%= f.input :otp_attempt,
          label: '6 digit code',
          value: '',
          autocomplete: 'off'
        %>
  </div>
</div>
