<div class='application-container legal-page' id="privacy-page">
  <h2 class='page-header'>Privacy Policy</h2>

  <p>
    TopSekr.it is a service offered to you by reinteractive pty ltd (ABN 62 160 446 453) of Level 32, 101 Miller Street, North Sydney, NSW, 2060 Australia. We are the owner and author of the TopSekr.it Software as a Service (the Service).
  </p>

  <p>
    reinteractive is committed to your privacy. Please be sure to read our terms and conditions, by using our service you agree to be bound by these terms and conditions as well as the privacy policy below.
  </p>

  <p class='level1'>Access to the Service Systems<p>
  <p class='level2'>
    Our servers are accessed only by key employees of reinteractive and you have the right to your data at any time you wish.
  </p>

  <p class='level1'>Your Personal Information</p>

  <p class='level2'>
    We will collect information about you that you have provided to us, this may be obtained directly from you, or from another source.This information could include things such as your name, address, telephone numbers, twitter information and lifestyle information and any other information collected as a result of you using our services.
  </p>
  <p class='level2'>
    We also collect other information relating to how and when you and our other users and public use our website. This could include information relating to what pages you visit, what internet address you are visiting from, the operating system and browser you are using and when you came to visit our site.
  </p>
  <p class='level2'>
    We collect the above to help us improve our service to all our users and to make sure we know how our site is operating and functioning.
  </p>
  <p class='level2'>
    Sometimes we might publish some of this information. But if we do publish, it will only ever be in an aggregated form and never publish information relating to you as an individual.
  </p>
  <p class='level2'>
    We also make use of a browser "cookie" on our site. A cookie is a small piece of information stored on your computer by our site. Cookies help us improve the user experience of our site and help us track and target the interests of our users. You will need to enable cookies to make use of our site.
  </p>
  <p class='level2'>
    You may ask to see all the personal information we have on you and ask for it to be updated, corrected or deleted. We will ask you to verify your identity for these requests, to protect your privacy and that of our users.
  </p>
  <p class='level2'>
    We do not claim any right to any information you put into this site beyond storing it on your behalf at your implicit request.  Should you wish, you can ask us to delete this information at any time and we will do so.
  </p>

  <p class='level1'>Using Your Information</p>
  <p class='level2'>
    We may keep and use the information outlined above for any number of purposes relating to the way we run our business. These can include (but are not limited to):
  </p>
  <ul class='level2'>
    <li>Dealing with enquires from you or your authorised representative</li>
    <li>Handling complaints from you or your authorised representative</li>
    <li>Processing your service requests and service orders from you or your authorised representative</li>
    <li>Contacting you about your contact details</li>
    <li>Contacting you regarding maintenance of our site</li>
    <li>Contacting you regarding changes to any legal terms relating to the use of this site</li>
  </ul>

  <p class='level1'>Sharing Your Information</p>
  <p class='level2'>
    We will not share your specific personal or web application statistics information with anyone, except when:
  </p>

  <ul class='level2'>
    <li>You explicitly tell us to</li>
    <li>We are reasonably required to do so by law</li>
    <li>We want to perform a credit check on you</li>
    <li>We want to list payment defaults with a collections agency</li>
    <li>It is needed so we can result a complaint made by you about us</li>
  </ul>

  <p class='level1'>Your Username and Password</p>

  <p class='level2'>
    As an reinteractive customer, you are solely responsible for the security and secrecy of your username and password. Your username and password are stored with one way encryption in our database and we can not tell you what it is.
  </p>
  <p class='level2'>
    Our support staff will never ask you for your password and you should never give it out to anyone. Should you forget your password, you can reset it on our password reset page, or you can contact support who can help you.
  </p>
  <p class='level2'>
    If you do give out your password, or make it available to other users, you agree to be responsible for paying for any products or services the person who has your username and password, purchase from us.
  </p>

  <p class='level1'>Changes to This Policy</p>

  <p class='level2'>
    We might change this policy at any time, but if we do, we will tell you about these changes by posting an updated policy on our website, and making note of what the changes were in summary form at the top of this document.
  </p>
  <p class='level2'>
    Any change we make is effective from the date we post it on our website. Should you disagree with these changes, you are free to cease using our service and will be provided a refund per our refund policy.
  </p>
</div>