<div class='application-container legal-page terms-page'>
  <h2 class='page-header'>Terms & Conditions for Envisage</h2>

  <p>
    WARNING: YOU MAY ONLY ACCESS, BROWSE AND USE THIS WEBSITE IF YOU ACCEPT THESE TERMS OF USE. BY ACCESSING, BROWSING AND/OR USING THIS WEBSITE, YOU CONFIRM THAT YOU HAVE READ AND UNDERSTAND AND WHOLLY AND UNCONDITIONALLY AGREE TO BE LEGALLY BOUND BY AND ACCEPT THESE TERMS OF USE.  WE MAY MODIFY AND/OR REPLACE THESE TERMS OF USE FROM TIME TO TIME WITHOUT NOTICE. WE WILL UPLOAD THE LATEST VERSION TO THIS WEBPAGE. IT IS YOUR RESPONSIBILITY TO CHECK THESE TERMS OF USE EACH TIME YOU ACCESS, USE OR BROWSE THIS WEBSITE TO ENSURE YOU HAVE READ AND UNDERSTAND THE LATEST VERSION OF THESE TERMS OF USE. IF YOU DO NOT WISH TO ACCEPT THESE TERMS OF USE, YOU MUST NOT AND CANNOT USE THIS WEBSITE AND MUST IMMEDIATELY LEAVE THIS WEBSITE.
  </p>

  <p>
    IT IS YOUR RESPONSIBILITY TO UNDERSTAND THESE TERMS OF USE AS PROVIDED WHETHER THEY ARE SUPPLIED IN YOUR LANGUAGE OF CHOICE OR NOT.
  </p>

  <hr>

  <p class="level1">
    1.  Definitions and Interpretation
  </p>
  <p class="level2">
    <span>1.1.</span> Definitions
  </p>
  <p class="level2">
    In these Terms of Use:
  </p>
  <dl class="level3">
    <dt>Australian Consumer Law</dt> <dd>means schedule 2 to the Competition and Consumer Act 2010 (Cth).</dd>
    <dt>Business Day</dt> <dd>means Monday – Friday excluding public holidays in the state or territory in which Our principal place of business operates.</dd>
    <dt>Business Hours</dt> <dd>means 9:00am – 5:00pm on Business Days.</dd>
    <dt>GST</dt> <dd>has the meaning given by the A New Tax System (Goods and Website Tax) Act 1999 (Cth)).</dd>
    <dt>Intellectual Property Rights</dt> <dd>means all copyright, trademark rights, patent rights, and design rights, whether registered or unregistered, and all other rights to intellectual property as defined under article 2 of the convention establishing the World Intellectual Property Organization, and all rights to enforce any of the foregoing rights.</dd>
    <dt>Licence</dt> <dd>means as set out in clause 2.1.</dd>
    <dt>Member Data</dt> <dd>means as set out in clause 6.1.</dd>
    <dt>Moral Rights</dt> <dd>has the meaning given in the Copyright Act 1968 (Cth).</dd>
    <dt>Non-Excludable Guarantee</dt> <dd>means a non-excludable guarantee implied by the Australian Consumer Law.</dd>
    <dt>Personal Information</dt> <dd>has the meaning given in the Privacy Act 1988 (Cth).</dd>
    <dt>Personal Property Securities Register</dt> <dd>means the Personal Property Securities Register established under the Personal Property Securities Act 2009 (Cth).</dd>
    <dt>Terms of Use</dt> <dd>means the terms and conditions set out on this webpage as amended by Us from time to time.</dd>
    <dt>Privacy Policy</dt> <dd>means Our Privacy Policy located found at our <%= link_to("Privacy Policy Page", "/privacy") %></dd>
    <dt>“We”, “Our” and “Us”</dt> <dd>means exec.io pty ltd of Level 32, 101 Miller Street, North Sydney, NSW, 2060, ABN 51 160 446 846.</dd>
    <dt>“Website”</dt> <dd>means the website, the homepage URL of which is specified above and also includes the Member Services and any content, images, text and other information appearing on any page of the Website and any source code and object code in the Website, plus any database which forms part of or which the Website interacts with.</dd>
    <dt>“You”</dt> <dd>means you, the person who accesses this Website for any reason, whether or not You are a Member of the Website.</dd>
  </dl>
  <p class="level2">
    <span>1.2.</span>  Interpretation
  </p>
  <p class="level2">
    In these Terms of Use:
  </p>
  <ol class="level3">
    <li>
      (a) Headings and underlinings are for convenience only and do not affect the construction of these Terms of Use.
    </li>
    <li>
      (b) A provision of these Terms of Use will not be interpreted against a party because the party prepared or was responsible for the preparation of the provision, or because the party’s legal representative prepared the provision.
    </li>
    <li>
      (c) Currency refers to Australian Dollars.
    </li>
    <li>
      (d) A reference to a statute or regulation includes amendments thereto.
    </li>
    <li>
      (e) A reference to a clause, subclause or paragraph is a reference to a clause, subclause or paragraph of these Terms of Use.
    </li>
    <li>
      (f) A reference to a subclause or paragraph is a reference to the subclause or paragraph in the clause in which the reference is made.
    </li>
    <li>
      (g) The warning at the top of these Terms of Use forms part of the binding terms and conditions of these Terms of Use.
    </li>
    <li>
      (h) A reference to time is to time in the state or territory in which Our principal place of business is located.
    </li>
    <li>
      (i) A reference to a person includes a reference to an individual, a partnership, a company, a joint venture, government body, government department, and any other legal entity.
    </li>
    <li>
      (j) The words “includes”, “including” and similar expressions are not words of limitation.
    </li>
  </ol>

  <p class="level1">
    2.  Licence to be granted to access and browse the Website
  </p>
  <p class="level2">
    2.1.  We hereby grant You a limited, non-transferable, non-exclusive, non-assignable, non-sublicensable, revocable licence to access and browse the Website (the “Licence”).
  </p>

  <p class="level1">
    3.  Registration
  </p>
  <p class="level2">
    3.1.  Certain sections of the Website are accessible to registered users only.
  </p>
  <p class="level2">
    3.2.  We reserve the right to accept or reject any person’s registration on the Website in Our absolute discretion.
  </p>
  <p class="level2">
    3.3.  If You register on the Website, You agree that during the registration process You will provide truthful and accurate information only.
  </p>
  <p class="level2">
    3.4.  You must ensure, without limiting clause 3.3, that You provide a valid email address at the time of registration.
  </p>
  <p class="level2">
    3.5.  We reserve the right to send an email to You with a hyperlink which requires You to verify that You are the owner or operator of the email address entered by You during registration and to cancel/not approve Your registration on this Website if Your rights to the email address are not so verified.
  </p>
  <p class="level2">
    3.6.  If any of Your contact details or other information which You provide during the registration process changes, You must promptly update Your registration details on the Website with Your up-to-date details and information.
  </p>
  <p class="level2">
    3.7.  You must not provide Your account name or password for Your account on this Website to any person. You agree and acknowledge that You shall be solely responsible for the confidentiality of Your username and password and any use of Your registered account (including unauthorised use) on this Website.
  </p>
  <p class="level2">
    3.8.  You must immediately notify Us if You become aware of any unauthorised use of Your account on this Website.
  </p>

  <p class="level1">
  4.  Member services
  </p>
  <p class="level2">
    4.1.  Only registered users of the Website (“Members”) may access the Member Services.
  </p>
  <p class="level2">
    4.2.  A description of the Member Services is set out at <%= link_to("home page", "/") %> (“Services Description”).
  </p>
  <p class="level2">
    4.3.  You agree and acknowledge that if You become a Member:
  </p>
  <ol class="level2">
    <li>
      (a)  You are subscribing to the Member Services; and
    </li>
    <li>
      (b)  the Licence granted to You pursuant to clause 2.1 shall also include a non-exclusive, non-assignable, non-sublicensable, revocable right granted to You to access the Member Services for the purposes expressly described in the Services Description.
    </li>
  </ol>
  <p class="level2">
    4.4.  Each Member must pay the fees and charges set out in the Services Description (or as otherwise agreed between You and Us in writing) in consideration for the Member’s subscription to the Member Services (“Service Charges”) at the time and in the manner set out in the Services Description, plus any GST that is applicable in respect of the supply of the Member Services to You.
  </p>
  <p class="level2">
    4.5.  If the Services Description specifies a minimum term, then the subscription of a Member for the Member Services is for that minimum term (“Minimum Term”) and, unless otherwise specified in the Services Description, cannot be cancelled or terminated by You prior to the expiry of the Minimum Term.
  </p>
  <p class="level2">
    4.6.  Upon expiry of the Minimum Term, the Member’s subscription to the Member Services shall automatically renew for subsequent successive terms equal to the Minimum Term on the same terms and conditions, unless either We or the Member provides at least 30 days written notice prior to the expiry of the Minimum Term or any renewal term, in which case the Member’s subscription to the Member Services shall terminate at the end of the Minimum Term or the then current renewal term.
  </p>
  <p class="level2">
    4.7.  A Member may only access the Member Services remotely from a web browser operated by the Member, solely for the purpose(s) specified in the Services Description and subject to the provisions set out in the Services Description and in these Terms of Use.
  </p>
  <p class="level2">
    4.8.  You must pay all costs associated with accessing the Website, including internet access costs, web browser and computer and smartphone equipment costs, telecommunications costs, data costs, roaming charges and, if you are a Member, Service Charges.
  </p>
  <p class="level2">
    4.9.  Without limiting Our rights and any other provision of these Terms of Use, if You fail to pay the Service Charges in accordance with the requirements of these Terms of Use, We may suspend and/or terminate Your access to the Member Services and your Member Data hosted in the Member Services without notice.
  </p>

  <p class="level1">
    5.  Payment Gateway
  </p>
  <p class="level2">
    5.1.  We utilise a third party payment gateway provided by Stripe (“Payment Gateway”) to process payments made to Us via Our Website.
  </p>
  <p class="level2">
    5.2.  If You are a Member, when You make credit card payments on Our Website You acknowledge and understand:
  </p>
  <ol class="level2">
    <li>
      (a)  the Payment Gateway may be affected by delays, defects, faults and/or other matters which render the Payment Gateway unusable. These matters may be caused by factors including technical difficulties with the performance or operation of Our or the Payment Gateway’s software or hardware or due to problems or malfunctions with the Internet or other telecommunications networks;
    </li>
    <li>
      (b)  except in respect of any Non-Excludable Guarantees, We do not warrant, guarantee or represent that unauthorised access to information and data cannot occur;
    </li>
    <li>
      (c)  You have relied on Your own independent assessment and judgment in determining whether the Payment Gateway We use on this Website meets Your requirements; and
    </li>
    <li>
      (d)  You have read, understand and agree to comply with the applicable terms and conditions of, and have read, understood and agree with the privacy policy of, the Payment Gateway provider (“Payment Gateway Agreement”), copies of which are available on the Payment Gateway provider website.
    </li>
  </ol>
  <p class="level2">
    5.3.  You indemnify Us in respect of any breach by You of the Payment Gateway Agreement.
  </p>

  <p class="level1">
    6.  Responsibility for and ownership of Member Data
  </p>
  <p class="level2">
    6.1.  If You are a Member, We agree that as between Us and You, You own all data that You transmit through or upload into the Member Services (“Member Data”).
  </p>
  <p class="level2">
    6.2.  You agree and acknowledge that:
  </p>
  <ol class="level2">
    <li>
      (a)  the Member Services and/or Member Data may be hosted by Us or Our suppliers on hardware or infrastructure located in or outside Australia; and
    </li>
    <li>
      (b)  We may not own or operate the infrastructure upon which the Member Services and/or the Member Data is hosted.
    </li>
  </ol>
  <p class="level2">
    6.3.  Each time a Member uses the Member Services the Member warrants, agrees and represents that:
  </p>
  <ol class="level2">
    <li>
      (a)  it will only upload , input and transfer Member Data into and/or via the Member Services or disclose Member Data to Us, which the Member is fully entitled and authorised to upload, input, transfer and disclose; and
    </li>
    <li>
      (b)  the Member Data and Our collection, use, storage and/or disclosure thereof in the course of performing the Member Services, will not breach any applicable law or right of any person.
    </li>
  </ol>
  <p class="level2">
    6.4.  The Member is solely responsible for the accuracy, legality and quality of all Member Data and for obtaining any permissions, licences, rights and authorisations necessary for Us to use, host, transmit, store and disclose the Member Data in connection with the provision of the Member Services.
  </p>
  <p class="level2">
    6.5.  Except in respect of any Non-Excludable Guarantee, You agree that You, not Us, are solely responsible for backing up and archiving all Member Data.
  </p>
  <p class="level2">
    6.6.  Except in respect of any Non-Excludable Guarantee, You agree that We are not responsible for any loss, corruption or hacking of any Member Data.
  </p>
  <p class="level2">
    6.7.  You indemnify Us in respect of any loss and damage We or any of Our suppliers incur in respect of any claim that any of the Member Data is lost, unavailable or corrupted or the transmission, storage, disclosure, hacking or access of any Member Data infringes the Intellectual Property Rights or other rights of any person or breaches any law, regulation, code or standard.
  </p>
  <p class="level2">
    6.8   You agree that due to the nature of this service, any private information you do put in our system will be stored in an undecryptable manner and be deleted once it has been read by the recipient.  We have no way of retrieving this data.
  </p>

  <p class="level1">
    7.  Availability of Member Services
  </p>
  <p class="level2">
    7.1.  While You are a Member of the Website, We agree to use Our best endeavours to procure hosting of the Member Services and the Member Data and to ensure that the Website and Member Services are available 99.9% of the time.
  </p>
  <p class="level2">
    7.2.  The availability of the Member Services to You will be subject, in addition to any other provisions set out in these Terms of Use, to any bandwidth limitations, database size limitations, throughput limitations and other technical and non-technical limitations or restrictions set out in the Services Description.
  </p>
  <p class="level2">
    7.3.  You agree and acknowledge that the accessibility of the Member Services and the Member Data hosted by the Member Services is highly dependent on the proper function of the Internet and any other computer and telecommunications networks and infrastructure upon which the Website and/or Member Services and/or Member Data operate, interface with or connect to.
  </p>
  <p class="level2">
    7.4.  Except in respect of any Non-Excludable Guarantee, We do not guarantee that the Member Services or Member Data or access thereto will be uninterrupted or error-free and You release and indemnify Us in respect of any loss and damage we may incur and/or claims and/or complaints You or your customers may have against Us in respect of any interruption, error or unavailability of the Member Services or any Member Data.
  </p>
  <p class="level2">
    7.5.  We will use Our best endeavours to notify You in advance of any scheduled outage of the Member Services.
  </p>

  <p class="level1">
    8.  Licence Restrictions
  </p>
  <p class="level2">
    8.1.  You may not make any use of the Website except as permitted by the Licence and may not do or authorise the commission of any act that would or might invalidate or be inconsistent with Our Intellectual Property Rights in the Website. Without limiting the foregoing provisions of the Licence, You must not, under any circumstances, sell or resell access to the Website or scrape, republish, mirror or otherwise rent, lend, lease, sell, redistribute, sublicence, copy or duplicate the Website. In addition, You must not, nor may You permit any person to:
  </p>
  <ol class="level3">
    <li>
      (a)  use the software of the Website except as expressly permitted by our copyright terms;
    </li>
    <li>
      (b)  do any act that would or might invalidate or be inconsistent with Our Intellectual Property Rights or those of our licensors;
    </li>
    <li>
      (c)  use the Website in any way that infringes Our rights or the rights of any third party; or
    </li>
    <li>
      (d)  take any steps to circumvent any technological protection measure or security measures in the Website.
    </li>
  </ol>
  <p class="level2">
    8.2.  You must not use the Website or any part of the Website in any way which is in breach of any statute, regulation, law or legal right of any person.
  </p>
  <p class="level2">
    8.3.  You must not use the Website or any part of the Website in breach of these Terms of Use.
  </p>

  <p class="level1">
    9.  Acceptable Use Policy
  </p>
  <p class="level2">
    9.1.  You agree that:
  </p>
  <ol class="level3">
    <li>
      (a)  using the Website to violate all or any legal rights of any person or company or other entity in any jurisdiction is strictly prohibited;
    </li>
    <li>
      (b)  using the Website in relation to crimes such as theft and fraud is strictly prohibited;
    </li>
    <li>
      (c)  using the Website in breach of laws relating to the protection of copyright, trade secrets, patents or other intellectual property and laws relating to spam or privacy and whether such violation is by way of the installation or distribution of "pirated” software or otherwise, is strictly prohibited;
    </li>
    <li>
      (d)  unauthorised copying of copyrighted material is strictly prohibited;
    </li>
    <li>
      (e)  introduction of malicious programs into Our network or servers (e.g., viruses, worms, Trojan horses, e-mail bombs) is strictly prohibited;
    </li>
    <li>
      (f)  revealing Your account password to others or allowing use of Your account on the Website by others is strictly prohibited;
    </li>
    <li>
      (g)  using another person’s name, username or password or otherwise attempting to gain access to the Website of any other person is strictly prohibited;
    </li>
    <li>
      (h)  using the Website to make fraudulent offers of goods or services is strictly prohibited;
    </li>
    <li>
      (i)  using the Website to carry out security breaches or disruptions of network communication is strictly prohibited. Security breaches include, but are not limited to, accessing data of which You are not an intended recipient or logging into a server or account that You are not expressly authorized to access or corrupting any data. For the purposes of this paragraph, "security breaches" includes, but is not limited to, network sniffing, pinged floods, packet spoofing, denial of service, and forged routing information for malicious purposes;
    </li>
    <li>
      (j)  using the Website to execute any form of network monitoring which will intercept data not intended for You is strictly prohibited;
    </li>
    <li>
      (k)  using the Website to circumvent user authentication or security of any of Our hosts, networks or accounts or those of Our customers or suppliers is strictly prohibited;
    </li>
    <li>
      (l)  using the Website to interfere with or denying service to anyone is strictly prohibited;
    </li>
    <li>
      (m)  using any program/script/command, or sending messages of any kind, with the intent to interfere with, or disable, any persons' use of the Website is strictly prohibited;
    </li>
    <li>
      (n)  sending unsolicited email messages through or to users of the Website in breach of the Spam Act 2003 is strictly prohibited;
    </li>
    <li>
      (o)  using the Website to send any form of harassment via email, or any other form of messaging, whether through language, frequency, or size of messages is strictly prohibited; and
    </li>
    <li>
      (p)  use of the Website in breach of any person’s privacy (such as by way of identity theft or "phishing") is strictly prohibited.
    </li>
  </ol>

  <p class="level1">
    10.  Intellectual Property Rights
  </p>
  <p class="level2">
    10.1.  You agree and acknowledge that these Terms of Use do not transfer or assign any Intellectual Property Rights to You.
  </p>
  <p class="level2">
    10.2.  As between You and Us, except in respect of Your Member Data, We own all Intellectual Property Rights in the Website.
  </p>
  <p class="level2">
    10.3.  You have no rights in the Website or in any part of it or in any modification or enhancement thereof, other than the rights temporarily granted to You pursuant to the Licence.
  </p>
  <p class="level2">
    10.4.  Other than in respect of Your Member Data, You agree that any Intellectual Property Rights in any content which You upload or post to the Website (“User Content”) becomes Our sole and exclusive property immediately upon You uploading or posting that content, and You hereby agree to assign all Intellectual Property Rights in all and any such content to Us effective as soon as You upload or post the content to the Website, pursuant to section 197 of the Copyright Act 1968 (Cth) and in equity. You waive all Moral Rights that You may have to any User Content and consent to Us and any third party We authorise to infringing all and any such Moral Rights in Our absolute discretion.
  </p>
  <p class="level2">
    10.5.  You must not take any step to invalidate or prejudice Our (or Our licensors’) Intellectual Property Rights in the Website or otherwise. Without limiting the foregoing provisions, You must not register any security interest or purchase money security interest on the Personal Property Securities Register, or otherwise encumber or charge Your rights in respect of the Member Data or under the Licence.
  </p>

  <p class="level1">
    11.  Responsibility for other users
  </p>
  <p class="level2">
    11.1.  We do not accept responsibility for the conduct of any users of Our Website.
  </p>
  <p class="level2">
    11.2.  If You believe that another user of Our Website has breached these Terms of Use please contact Us.
  </p>
  <p class="level2">
    11.3.  We are not a party to any transaction for the supply of goods or services advertised by any user of the Website. Before entering into any transaction with any other user of the Website, You should carefully consider the applicable terms and conditions applicable to the transaction, obtain all appropriate advice and take all appropriate precautions.
  </p>
  <p class="level2">
    11.4.  Any dispute You have with another user of Our Website is between You and the other user. You release Us from any claims that You may otherwise have against Us in relation to any conduct of any user of Our Website.
  </p>
  <p class="level2">
    11.5.  We do not check the content entered into or uploaded into the Website. If We become aware of content that breaches our Acceptable Use Policy We will remove the content and send an email to the person who uploaded or entered it explaining why it was removed. If You become aware of any content that You think breaches the Acceptable Use Policy set out in clause 9 above, please contact Us.
  </p>

  <p class="level1">
    12. Responsibility for third party claims
  </p>
  <p class="level2">
    12.1. You agree and acknowledge that You are solely responsible for and You indemnify Us in respect of any loss and damage We may incur in connection with any claims and/or complaints made by any of Your customers where the claim is caused directly or indirectly by:
  </p>
  <ol class="level3">
    <li>
      (a) Your use of the Member Services; and/or
    </li>
    <li>
      (b) Your goods and/or services and/or your advertising and/or sales and/or marketing practices.
    </li>
  </ol>

  <p class="level1">
    13. Hyperlinks
  </p>
  <p class="level2">
    13.1. We do not represent, recommend or endorse any websites to which We have linked from the Website via hyperlink or otherwise.
  </p>
  <p class="level2">
    13.2. You must not link to the Website or any part of it without Our prior written consent.
  </p>

  <p class="level1">
    14. Liability
  </p>
  <p class="level2">
    14.1. Except in respect of any Non-Excludable Guarantees, We do not represent that the information on this Website is accurate, correct, up-to-date or error free.
  </p>
  <p class="level2">
    14.2. The information on this Website is not professional advice. You agree that You will seek all appropriate financial, legal and other advice as applicable before relying on any information You obtain from this Website.
  </p>
  <p class="level2">
    14.3. Neither party is liable to the other party for any indirect, special or consequential loss or damage incurred by the other party, including liability for loss of profits, loss of business opportunity, loss of savings, or loss of data.
  </p>
  <p class="level2">
    14.4. To the maximum extent permitted by law (and if permitted by law), We will not have any liability to You for any loss or damage howsoever incurred in relation to Your use or inability to use the Website.
  </p>
  <p class="level2">
    14.5. The goods and services supplied under these Terms of Use may come with implied non-excludable guarantees which are regulated by the Australian Consumer Law. The extent of the implied guarantees depend on whether You are a ‘consumer’ of goods or services within the meaning of that term pursuant to the Australian Consumer Law as amended. Where You are a ‘consumer’ for the purposes of the Australian Consumer Law, We are required to provide the following mandatory statement to You: “Our goods come with guarantees that cannot be excluded under the Australian Consumer Law. You are entitled to a replacement or refund for a major failure and for compensation for any other reasonably foreseeable loss or damage. You are also entitled to have the goods repaired or replaced if the goods fail to be of acceptable quality and the failure does not amount to a major failure.”
  </p>
  <p class="level2">
    14.6. If the goods or services supplied by Us to You are supplied to You in Your capacity as a 'consumer' of goods or services within the meaning of that term in the Australian Consumer Law as amended You will have the benefit of certain non-excludable guarantees in respect of the goods or services and nothing in these terms and conditions excludes or restricts or modifies any guarantee which pursuant to the Competition and Consumer Act 2010 (Cth) is so conferred. However, if the goods or services are subject to a non-excludable guarantee, implied by the Australian Consumer Law and the goods or services are not ordinarily acquired for personal, domestic or household use or consumption, then pursuant to s 64A of the Australian Consumer Law, We limit Our liability for breach of any such non-excludable guarantee implied by the Australian Consumer Law (other than a guarantee implied by sections 51, 52 or 53 of the Australian Consumer Law) or expressly given by Us to You, in respect of each of the goods and services, where it is fair and reasonable to do so, at Our option, to one or more of the following:
  </p>
  <p class='level2'>
    (a) if the breach relates to goods:
  </p>
  <ol class="level3">
    <li>
      (i) the replacement of the goods or the supply of equivalent goods;
    </li>
    <li>
      (ii)  the repair of such goods;
    </li>
    <li>
      (iii) the payment of the cost of replacing the goods or of acquiring equivalent goods; or
    </li>
    <li>
      (iv)  the payment of the cost of having the goods repaired; and
    </li>
  </ol>
  <p class="level2">
    (b) if the breach relates to services:
  </p>
  <ol class="level3">
    <li>
      (i) the supplying of the services again; or
    </li>
    <li>
      (ii)  the payment of the cost of having the services supplied again.
    </li>
  </ol>
  <p class="level2">
    14.7. In order for You to claim against Us under a non-excludable guarantee implied by the Australian Consumer Law, or under an express warranty given in respect of the goods or services provided by Us, You must provide written notice to Us with documentary evidence substantiating the claim, for Our review, and, in respect of the Website, must continue to use it only in accordance with the provisions of these Terms of Use.
  </p>
  <p class="level2">
    14.8. Upon receipt of a valid claim from You under an non-excludable guarantee implied by the Australian Consumer Law, We will contact You to arrange a suitable remedy. You may claim reasonable expenses incurred in making a valid claim under such a guarantee by providing documentary evidence of the expenses to Us. You will be responsible for any expenses incurred in relation to an invalid claim. Where We elect to repair goods the subject of a valid claim, You agree that the goods may be replaced by refurbished goods of the same type rather than being repaired and refurbished parts may be used to repair goods. You acknowledges that where the goods are repaired and are capable of retaining user-generated data, it is possible that the repair of the goods may result in loss of data.
  </p>
  <p class="level2">
    14.9. Any warranty against defects provided by Us to You in Your capacity as a ‘consumer’ under the Australian Consumer Law is in addition to Your other rights and remedies under a law in relation to the goods or services to which the warranty relates.
  </p>
  <p class="level2">
    14.10.  Where You are not a ‘consumer’ for the purposes of the Australian Consumer Law, all conditions, warranties, guarantees, rights and remedies implied in these Terms of Use are excluded, to the extent possible by law.
  </p>

  <p class="level1">
    15. Termination
  </p>
  <p class="level2">
    15.1. We may terminate these Terms of Use and Your access to the Website or any part of it at any time without notice.
  </p>
  <p class="level2">
    15.2. We may take down the Website or any part of it or take the Website or any part of it offline at any time without notice.
  </p>
  <p class="level2">
    15.3. Termination  of these Terms of Use does not affect any accrued rights of either party.
  </p>

  <p class="level1">
    16. Notices
  </p>
  <p class="level2">
    16.1. A notice under these Terms of Use shall be sent by hand delivery, post or email.
  </p>
  <p class="level2">
    16.2. Any notice issued by hand shall be deemed delivered upon delivery.
  </p>
  <p class="level2">
    16.3. Any notice issued by post shall be deemed delivered 3 Business Days after posting if posted domestically, or 10 Business Days after posting if posted internationally.
  </p>
  <p class="level2">
    16.4. Any notice issued via email shall be deemed to be delivered upon the email being sent, provided that if an email is sent out of Business Hours, it shall be deemed to be delivered at 9am on the next Business Day.
  </p>

  <p class="level1">
    17. General
  </p>
  <p class="level2">
    17.1. Other rights: All rights not expressly granted to Us in these Terms of Use are expressly reserved by Us.
  </p>
  <p class="level2">
    17.2. Amendment: These Terms of Use may only be amended by a written document signed by You and Us.
  </p>
  <p class="level2">
    17.3. Assignment: You may not assign, transfer, licence or novate Your rights or obligations under these Terms of Use without Our prior written consent. We may assign, transfer, licence or novate Our rights or obligations under these Terms of Use at any time, subject to <%= link_to("Our Privacy Policy", "/privacy_policy") %>.
  </p>
  <p class="level2">
    17.4. Severability: If any part of these Terms of Use is deemed invalid by a court of competent jurisdiction, the remainder of these Terms of Use shall remain enforceable.
  </p>
  <p class="level2">
    17.5. Relationship: You and Us are independent contractors and these Terms of Use do not create any relationship of partnership, joint venture, or employer and employee or otherwise.
  </p>
  <p class="level2">
    17.6. Australian Consumer Law: The exclusions and limitations of liability set out in these Terms of Use shall apply to the fullest extent permissible at law, but We do not exclude or limit liability which may not be excluded or limited by law. Without limiting the foregoing provisions, We do not exclude liability under the Australian Consumer Law which is prohibited from being excluded.
  </p>
  <p class="level2">
    17.7. Entire Agreement: These Terms of Use constitute the entire agreement between You and Us and to the extent possible by law, supersede all prior understandings, representations, arrangements and agreements between You and Us regarding its subject matter.
  </p>
  <p class="level2">
    17.8. Jurisdiction: These Terms of Use will be interpreted in accordance with the laws in force in the state or territory in which Our principal place of business is located. You and Us irrevocably submit to the non-exclusive jurisdiction of the courts situated in that state or territory.
  </p>

</div>