<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Email Template</h2>

    <%= simple_form_for(@settings, url: '') do |f| %>
      <div class="form-group">
        <%= f.input :send_secret_email_template, label: false, as: :trix_editor %>
      </div>

      <div class="form-group">
        <%= f.button :submit, value: 'Update Email Content' %>
      </div>
    <% end %>
  </div>
</div>
