<div class="container copy-link">
  <div class="row">
    <h2 class="main-header">Copy Link</h2>
  </div>
  <div class="row">
    <pre><%= secret_url(@data[:uuid], key: @data[:key]) %></pre>
    <div class="message">
      Make sure you copied the link before hitting the close button. You cannot go back to this page.
    </div>
  </div>
</div>
