.devise-form {
  .heading {
    margin: 20px 0px;
  }
  .body {
    margin: 40px 0px;
    label {
      margin-right: 5px;
    }
    .help-block {
      display: inline-block;
    }
  }
  .shared-links {
    margin: 20px 0px;
  }
}
