.main-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0;
}

.main-nav {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 20px;
  @include mobile-media-query {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .navbar-brand {
    padding: 15px 15px 15px 0;
    white-space: nowrap;
    text-decoration: none;
  }

  &__links {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    text-align: right;
    @include mobile-media-query {
      font-size: .9em;
      padding: 10px 0;
      margin: 0px;
    }
    li {
      display: inline-block;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.dropdown-menu {
  li {
    display: block;
    margin: 0px;
  }
}
