.main-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0;
}

.main-nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: $default_border;
  width: 100%;
  padding: 0 20px;
  z-index: 100;
  @include mobile-media-query {
    padding: 0 10px;
    justify-content: space-between;
  }
  .navbar-brand {
    padding: 15px 15px 15px 0;
    white-space: nowrap;
    text-decoration: none;
    @include mobile-media-query {
      height: auto;
      padding: 0 10px 0 0;
      font-size: 16px;
    }
    .glyphicon-lg {
      font-size: 24px;
      font-weight: 500;
      vertical-align: top;
      padding-right: 0.5em;
      line-height: 0.75;
    }
  }

  &__links {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    text-align: right;
    @include mobile-media-query {
      font-size: .9em;
      padding: 10px 0;
      margin: 0px;
    }
    li {
      display: inline-block;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.dropdown-menu {
  li {
    display: block;
    margin: 0px;
  }
}
