.main-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0;
}

header.main-nav {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 20px;
  .navbar-brand {
    padding: 15px 15px 15px 0;
    white-space: nowrap;
  }
}

.main-nav__links {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  text-align: right;
  li {
    display: inline-block;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }

  @include mobile-media-query {
    font-size: .9em;
  }
}

.dropdown-menu {
  li {
    display: block;
    margin: 0px;
  }
}

@media screen and (max-width: 576px) {
  .main-nav {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .main-nav__links {
    padding: 10px 0;
    margin: 0px;
  }
}
