.panel {
  max-width: 500px;
  border: $default_border;
  margin: 0 auto 40px;

  &__header {
    background-color: $primary-color;
    padding: 15px;
    text-align: center;
  }

  &__title {
    color: white;
    font-size: 24px;
    margin-bottom: 0;
  }

  &__body {
    padding: 20px;
  }
}
