.secret-item
  display: flex
  flex-direction: column
  padding: 10px
  border: $default_border

  .header
    display: flex
    padding: 0 10px
    .title
      font-size: 1.8rem
      font-weight: 700px
      margin-right: 10px
    .viewed-status
      padding: 3px 5px
      border: $default_border
      font-size: 1.3rem

  .body
    display: flex
    align-items: center
    padding: 10px
    justify-content: space-evenly
    .emails
      display: flex
      align-items: center
      flex-basis: 40%
      .mail-icon
        font-size: 40px
    .metadata
      flex-basis: 40%
    .actions
      flex-basis: 20%
