.secret-item
  display: flex
  flex-direction: column
  padding: 10px
  border: $default_border

  .header
    display: flex
    padding: 0 10px
    margin-bottom: 5px
    .title
      font-size: 1.8rem
      font-weight: 700px
      margin-right: 10px
    .viewed-status
      padding: 3px 5px
      border: $default_border
      font-size: 1.3rem
      text-transform: uppercase

  .body
    display: flex
    align-items: center
    padding: 10px
    justify-content: space-evenly
    .emails
      display: flex
      align-items: center
      flex-basis: 40%
      padding: 0 5px
      .mail-icon
        margin-right: 20px
      .email-group
        div
          padding: 3px 0
    .metadata
      flex-basis: 40%
      padding: 0 5px
      div
        padding: 3px 0
    .actions
      flex-basis: 20%
      padding: 0 5px
      .notes-trigger
        text-decoration: underline
        cursor: pointer
        text-align: center
  .notes
    display: none
    background-color: #F2F2F2
    padding: 10px
    margin-top: 5px
