.secret__title
  width: 100%
  padding: 50px 20px
  background: black image-url("homepage-hero.jpg") no-repeat 50% 50%
  background-size: cover
  text-align: center
  margin-bottom: 50px
  h2
    color: white
    margin: 0
  +mobile-media-query
    margin-bottom: 20px
    h2
      font-size: 1.7em
  


.secret__flex-container
  display: flex
  +mobile-media-query
    flex-wrap: wrap
    flex-direction: column-reverse

.secret__form
  width: 100%
  padding: 0 20px

.secret__instructions
  width: 100%
  max-width: 300px
  margin: 0 0 0 20px
  +mobile-media-query
    margin: 0 0 20px
    max-width: 100%
  ol
    background: #e6ebec
    border: 3px solid #ced9db
    padding: 15px
    list-style: none
    li
      padding-left: 25px
      background: transparent image-url("ol-numbers/1.svg") no-repeat 0 2px
      background-size: 20px 20px
    li.two
      background-image: image-url("ol-numbers/2.svg")
    li.three
      background-image: image-url("ol-numbers/3.svg")
      

  li
    margin-bottom: 10px
    font-size: 1.1em
    line-height: 1.5