nav.navbar {
  a.github {
    padding: 10px;
  }
  img {
    height: 32px;
    width: 32px;
  }
}

ol#instructions {
  margin: 10px 0;
  padding-left: 20px;
  li.completed {
    list-style:none;
    .glyphicon {
      margin-left: -20px;
    }
  }
}

ul {
  list-style: none;
}

form.form-inline {
  abbr {
    display: none;
  }
  input.email {
    margin-left: 5px;
  }
}

.flash {
  margin-bottom: 20px;
  span {
    margin-left: 15px;
    padding: 10px;
  }

}