.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
nav.navbar {
  a.github {
    padding: 10px;
  }
  img {
    height: 32px;
    width: 32px;
  }
}

ul {
  list-style: none;
}

form.form-inline {
  abbr {
    display: none;
  }
  input.email {
    margin-left: 5px;
  }
}

.flash {
  margin-bottom: 20px;
  span {
    margin-left: 15px;
    padding: 10px;
  }
}

.field_with_errors .error {
  color: red;
}

#oauth-google img {
  height: 32px;
}

div.secret_secret textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  height: 15em;
  width: 45em;
}

.col-md-3 > .instruction {
  height: 300px;
}

.instruction {
  background-color: #F2F2F2;
  padding: 2em;
  margin: 2em 0;
}

.step {
  background-color: #7DACAF;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5;
  position: absolute;
  top: 10px;
  left: 5px;
  color: #fff;
  font-weight: bold;
}

.faq {
  background-color: #7DACAF;
}
.image {
  background-color: #fff;
}
.footer-primary {
  background-color: #227278;
  padding: 2em;
}
.footer-content {
  color: #fff;
  padding: 2.5em 3.5em 2.5em 0;
}
.footer-content h2 {
  padding-bottom: 1em;
}
.footer-secondary {
  background-color: #062B2F;
}
.footer-links li {
  display: inline-block;
  padding: 2em 2em 1em 2em;
  line-height: 1.5;
}
.footer-links a {
  color: #fff;
  text-transform: uppercase;
}