$primary-color: #1C7279;

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h2 {
  margin-bottom: 1.5em;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

form.form-inline {
  abbr {
    display: none;
  }
  input.email {
    margin-left: 5px;
  }
}

.flash {
  margin-bottom: 20px;
  span {
    margin-left: 15px;
    padding: 10px;
  }
}

.field_with_errors .error {
  color: red;
}

#oauth-google img {
  height: 32px;
}

div.secret_secret textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  height: 15em;
  width: 45em;
}

.glyphicon-lg,
.navbar-brand {
  font-size: 28px;
}
.glyphicon-lg {
  padding-right: 1em;
}

.navbar-default {
  background-color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: $primary-color;
}

.navbar-default .navbar-nav {
  text-transform: uppercase;
}

.navbar-default {
  border: none;
}

nav.navbar {
  a.github {
    padding: 10px;
  }
  img {
    height: 32px;
    width: 32px;
  }
}


.introduction {
  background: $primary-color url(../assets/background-img.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.introduction p.lead {
  color: #fff;
  font-weight: 400;
  padding: 2.5em 0 2em 0;
}

.introduction-content {
  background: rgba(255, 255, 255, 0.5);
  padding: 3.5em 0;
  margin-bottom: 3em;
}

.introduction-content p.lead {
  color: #333;
  padding: 1em 0 0 0;
}

.glyphicon-lead-bg {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #fff;
  margin-top: 1em;
}

.glyphicon-lead {
  padding-left: 0.1em;
  font-size: 20px;
  line-height: 3;
}

.secret {
  text-decoration: underline;
}

.btn-lead-outline {
  margin: 1.5em 0;
}

.btn-lead {
  background-color: $primary-color;
  border-radius: 6px;
  padding: 0.75em 2em;
  color: #fff;
  cursor: pointer;
}

.btn-lead:hover {
  background-color: #fff;
  color: $primary-color;
  font-weight: 400;
}


.instructions {
  padding: 3em 0;
}
.behind-scenes {
  color: $primary-color;
}

.instructions .instruction {
  height: 300px;
}

.instruction {
  background-color: #F2F2F2;
  padding: 2em;
  margin: 2em 0;
}

.step {
  background-color: #7DACAF;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5;
  position: absolute;
  top: 10px;
  left: 5px;
  color: #fff;
  font-weight: bold;
}

.faq {
  background-color: #7DACAF;
  padding: 3em 0;
}

.footer-primary {
  color: #fff;
  background-color: #227278;
  padding: 2em;
}

.footer-content {
  padding: 0 3.5em 2.5em 0;
}

.footer-secondary {
  background-color: #062B2F;
}
.footer-links li {
  display: inline-block;
  padding: 2em 2em 1em 2em;
  line-height: 1.5;
}
.footer-links a {
  color: #fff;
  text-transform: uppercase;
}