<div class='row'>
  <div class="col-md-6">
    <%= simple_form_for :auth_token, url: auth_tokens_url, html: { class: 'form-inline' } do |f| %>
      <%= f.input :email, wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } %>
      <div class='form-group'>
        <%= f.submit 'Send', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<ol id='instructions'>
  <li>Enter your email address and a link with a one-time authentication token will be sent to you.</li>
  <li>Follow the link to a page where you can view the status of previously shared secrets and share new secrets.</li>
  <li>Enter the recipients email address, and enter or attach the secret information.</li>
  <li>A link with a one-time authentication token is sent to the recipient's address.</li>
  <li>When the recipient views the information, it is deleted from the database.</li>
</ol>

<ul class='list-group'>
  <li>The secret information is encrypted. A component of the decryption key is sent in the email to the recipient and not stored in the database.</li>
  <li>Secrets have an optional expiry.</li>
  <li>Sending this information via email or a chat application isn't particularly secure or professional. Ideally the recipient would view the secret and save it in a password manager application, but this isn't required.</li>
</ul>
